---
layout: default
call_to_action: Contact
background_image_path: 
---

{% if page.title %}
	<div class="page-header">
		<h2>{{ page.title }} Conseil</h2>
	</div>
{% endif %}

<article class="content">
	<p class="editable">Vous êtes en train de regarder les conseils classés sous <strong>{{ page.title }}</strong>. <a href="{{ site.baseurl }}/advice/">Voir tous les conseils.</p>

	<ol class="post-list">
		{% for post in page.posts %}
			{% include post-summary.html post=post %}
		{% endfor %}
	</ol>
</article>
